<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id tincidunt metus, vitae aliquet lacus. Etiam eros tortor, mollis nec turpis sit amet, efficitur elementum eros. Sed aliquam, nisi eget suscipit mattis, dui libero ultrices diam, sed varius risus odio a lorem. Praesent maximus tortor sed diam imperdiet sagittis. Fusce dapibus gravida odio et aliquam. Mauris auctor enim at ipsum vulputate porttitor. Cras placerat magna vel gravida laoreet. Nam odio velit, porta ac ex ac, congue facilisis leo. Duis dictum fringilla viverra. Nam nulla tellus, sollicitudin sed ornare scelerisque, porta ut arcu. Sed sit amet molestie turpis, quis scelerisque risus. Curabitur aliquet sem gravida, aliquam elit blandit, cursus nulla.</p>
  </div>

  <%- include('./partials/footer.ejs') %>
  
</body>
</html>